app-nav-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

app-control-bar {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.new-tweet {
    z-index: 1;
    position: fixed;
    bottom: 15%;
    right: 10%;
    width: 4.5em;
}