app-nav-menu {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

app-control-bar {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.home {
    margin-top: 3.5em;
}

.new-tweet {
    z-index: 1;
    position: fixed;
    bottom: 12%;
    right: 5%;
    width: 4.5em;
}

.tweets {
    position: absolute;
    top: 3.5em;
    bottom: 5.5em;
    width: 100%;
    overflow: scroll;
}